hal_client_domain(hal_graphics_composer_default, hal_graphics_allocator);
vndbinder_use(hal_graphics_composer_default)

allow hal_graphics_composer_default self:netlink_kobject_uevent_socket { bind create read };

gpu_access(hal_graphics_composer_default)
get_prop(hal_graphics_composer_default, vendor_hwc_config_prop)
