on early-boot
    chown system system /sys/class/backlight/rpi_backlight/brightness
    chmod 660 /sys/class/backlight/rpi_backlight/brightness

service vendor.light-default /vendor/bin/hw/android.hardware.light-service.rpi
    class hal
    user system
    group system
    shutdown critical
