import /vendor/etc/init/hw/init.rpi4.usb.rc

on init
    symlink /sdcard /storage/sdcard0

on fs
    mount_all /vendor/etc/fstab.rpi4

on post-fs-data
    # Create the directories used by the Wireless subsystem
    mkdir /data/vendor/wifi 0770 wifi wifi
    mkdir /data/vendor/wifi/wpa 0770 wifi wifi
    mkdir /data/vendor/wifi/wpa/sockets 0770 wifi wifi

service suspend_blocker_rpi /vendor/bin/suspend_blocker_rpi
    class early_hal # Start together with system_suspend HAL
    group system
    user root
